/* Styles for the report page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Hilangkan scroll horizontal */
}

h2, h3 {
    text-align: center;
    color: #003366;
    margin: 20px 0;
}

.table-container {
    max-height: 400px;
    margin-bottom: 20px;
    overflow-x: hidden; /* Pastikan tabel bisa di-scroll horizontal jika diperlukan */
}

/* Styling for tables */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #003366;
    color: #FFD700;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
button {
    background-color: #003366;
    color: #FFD700;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button {
    padding: 5px 10px;
    background-color: #acc315;
    width: 4rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
