/* Styles for the report page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {

    max-height: 400px;

    margin-bottom: 20px;
}

/* Styling for tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Scrollbar styles */
table tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

button {
    padding: 5px 10px;
    background-color: #acc315;
    width: 4rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}